name: Create Module Files For GitHub Release

on:
  push:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      issues: write
      pull-requests: write

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v6

    - name: Setup Node.js
      uses: actions/setup-node@v6
      with:
        node-version: "lts/*"

    - name: Install Dependencies
      run: npm ci

    - name: Build Module
      run: npm run build

    - uses: googleapis/release-please-action@v4
      id: release
      with:
        release-type: node

    - name: Modify Module Manifest With Release-Specific Values
      if: ${{ steps.release.outputs.release_created }}
      uses: cschleiden/replace-tokens@v1
      with:
        files: 'module.json'
      env:
        VERSION: ${{ steps.release.outputs.version }}
        URL: "https://github.com/${{ github.repository }}"
        MANIFEST: "https://github.com/${{ github.repository }}/releases/latest/download/module.json"
        DOWNLOAD: "https://github.com/${{ github.repository }}/releases/download/${{ steps.release.outputs.tag_name }}/module.zip"

    - name: Create Module Archive
      if: ${{ steps.release.outputs.release_created }}
      run: |
        zip               \
          --recurse-paths \
          ./module.zip    \
          module.json     \
          dist/

    - name: Upload Release Manifest
      if: ${{ steps.release.outputs.release_created }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: gh release upload ${{ steps.release.outputs.tag_name }} ./module.json

    - name: Upload Release Artifact
      if: ${{ steps.release.outputs.release_created }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: gh release upload ${{ steps.release.outputs.tag_name }} ./module.zip
